* {
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

/* no wrap  */
.header {
    background: url(../img/blue.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;

}

.menu {
    align-items: center;
    background: rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(218, 33, 33, 0.5);
    display: flex;
    flex-flow: row nowrap;
    height: 60px;


}

.logo {

    flex: 1 1 auto;

}

.logo a {
    color: #ffffff;
    font-size: 30px;
}

.logo a:hover {
    color: #eff170;
}

.nav {

    flex: 5 1 auto;

}

.nav a {
    color: #ffffff;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;

}

.nav a:hover {
    color: #eff170;

}

.social {
    display: flex;
    flex: 1 1 auto;

}

.social a {
    color: #ffffff;
    font-size: 18px;
    padding: 0 5px;
}

.social a:hover {
    color: #eff170;
}

.texto-principal {
    background: #FF7800;
}

h1 {
    background: #FFE300;
}

.section {
    background: #000;
    display: flex;

}

.articulos {
    background: #AA14F0;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
}

.article {
    background: #3D56B2;
    flex: 1 1 40%;
}

nav {
    background: #5C7AEA;
    flex: 1 1 100%;
}

.aside {
    background: #FF0075;
    flex: 1 1 auto;
}

.publicidad {
    background: #FFD523;
}

.footer {
    background: #000;
    display: flex;
    justify-content: center;
}

.pie {
    background: #00ADB5;
    width: 300px;
}

@media all and (max-width: 800px) {
    .section {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
        height: auto;
    }

    .aside {
        display: flex;
        justify-content: center;

    }
}

@media all and (max-width: 600px) {
    .articulos {
        flex-direction: column;
    }
}

@media all and (max-width: 400px) {
    .aside {
        flex-direction: column;
    }

}