* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.padre {
   display: flex; 
   flex-flow: column nowrap ;
}
/* no wrap  */
.header {
    background: #000;
    display: flex;
    flex-flow: column nowrap;

}
    .menu{
    background:#091353;
    display: flex;
    flex-flow: row nowrap;
    height: 100px;
    align-items: center;

}
        .logo{
            background:#FF3F00;
            flex: 1 1 auto;
            height: 30px;
        }
        .nav{
            background:#FF3F00;
            flex: 5 1 auto;
            height: 30px;
        }
        .social{
            background:#FF3F00;
            flex: 1 1 auto;
            height: 30px;
        }
        .texto-principal{
            background: #FF7800;
        }
            h1{
                background: #FFE300;
            }

.section {
    background: #000;
    display: flex;
    
}
    .articulos{
        background: #AA14F0;
        flex: 2 1 auto;
        display: flex;
        flex-flow: row wrap;
    }
        .article{
            background: #3D56B2;
            flex: 1 1 40%;
        }
        nav{
            background: #5C7AEA;
            flex: 1 1 100%;
        }

    .aside{
        background: #FF0075;
        flex: 1 1 auto;
    }
        .publicidad{
            background: #FFD523;
        }

.footer {
    background: #000;
    display: flex;
    justify-content: center;
}
    .pie{
        background: #00ADB5;
        width: 300px;
}

@media all and (max-width: 800px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;

    }
}
@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;
    }
}
@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
    }

}